DISCORD_BOT_TOKEN=
DISCORD_APPLICATION_ID=
DISCORD_PUBLIC_KEY=
TABLE_NAME=spotter-dev
QUEUE_URL=http://localhost:4566/000000000000/spotter-local
DYNAMODB_ENDPOINT=http://localhost:4566
AWS_ACCESS_KEY_ID=local
AWS_SECRET_ACCESS_KEY=local
AWS_DEFAULT_REGION=us-east-1
